* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: hsl(0, 0%, 0%);
  font-family: "Raleway", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
}
header {
  display: flex;
  padding: 1%;
  justify-content: space-around;
}

#questionAddlink,
#resetbtn {
  text-align: center;
  min-width: 10%;
  background-color: hsl(202, 98%, 50%);
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
}
#questionAddlink:link,
#questionAddlink:visited {
  color: black;
  text-decoration: none;
}
#questionAddlink:hover,
#resetbtn:hover {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  color: black;
  transition: 0.2s ease-in;
}
#questionAddlink:active {
  color: black;
  text-decoration: none;
}
#quiz-title {
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
}
#question-count {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  align-items: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.question-choice-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 20px;
  width: 80%;
  height: 300px;
  gap: 10px;
}
.question-desc {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  width: 60%;
}
.input-flex {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;

  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: 40px;
  color: white;
}
input {
  margin-right: 3%;
  background-color: hsl(202, 98%, 50%);
  border: none;
  color: white;
  min-width: 50px;
}
.Question {
  display: flex;
  align-content: center;
}
.prev-next-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 1%;
  padding-top: 21px;

  /* min-width: 80%; */
  /* height: 80%; */
}
.primary-btn {
  text-align: center;
  min-width: 10%;
  min-height: 20%;
  background-color: hsl(202, 98%, 50%);
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
}
.primary-btn:hover {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  color: black;
  transition: 0.2s ease-in;
}
#question-title{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
